# Directorio del entorno virtual
venv/
env/
.env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de PyCharm
.idea/
.vscode/

# Archivos específicos de Flask
instance/

# Bases de datos y archivos de sesión
*.db
*.sqlite
*.sqlite3
session_db

# Datos sensibles y de configuración
.flaskenv
.env